body{
  background-color: #331900;
}

#calcBody{
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: relative;
  margin: auto;
  margin-top: 5%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  background-color: #ffc300;
  box-shadow: 7px 7px 7px black;
}

#calcBody h3{
  font-family: sans-serif;
}

#footer{
  position: relative;
  margin: auto;
  text-align: center;
  color: #ffd700;
}

#editable-math{
  background-color: #cc522a;
  color: #ffc300;
  width: 80%;
  border: 1px solid black;
  outline-color: invert;
  padding-left: 10px;

}


#iBtn{
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  width: auto;
}

.btn{
  background-color: #e1d3b3;
  color: #131313;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin:1px 4px;
  padding: px 10px;
  width: 15%;
  height: 10%;
  border: none;
  line-height: 50px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn:hover{
    background-color: #cc522a;
    color: white;
}
